<div class="container form-container bg-white ">
  <div class="container form-header float-left p-3 m-3">
    <h5 class="form-title"> Hello <%= current_user.name.capitalize %></h5>,
    <h2 class="form-title">Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  <div class="container image-form-container float-left d-flex">
    <div class="container simple-form-container float-left">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
      <form>
      <div class="form-inputs">
        <div class="form-group">
          <%= f.input :email,
                      label: false,
                      required: true,
                      autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-group">
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-group">
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="form-group">
          <%= f.input :name,
                      required: true,
                      input_html: { autocomplete: "name" } %>
        </div>
        <div class="form-group">
          <%= f.input :bio,
                      input_html: { autocomplete: "bio" } %>
        </div>
        <div class="form-group">
          <%= f.input :photo, as: :file %>
        </div>
        <div class="form-group">
          <%= f.input :is_mentor, :label => 'Do you want to be a mentor?', as: :boolean,
                      input_html: { autocomplete: "Do you want to be a mentor?" } %>
        </div>
      </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn form-btn" %>
        </div>
      </form>
      <% end %>

      <h3>Cancel my account</h3>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <div class="shared-btn-div">
      <%= link_to "Back", profile_path(current_user), class: "btn form-btn" %>
      </div>
</div>
