<div class="form-header">
<h1 class='text-center'>Bookings Dashboard</h1>
</div>
<p>You have <%= @bookings.count %> bookings</p>
<div class="container mt-5">
  <div class="d-flex flex-column">
  <% @bookings.each do |booking| %>
      <%#div class="card-rounded my-2 mx-auto drop-shadow" style="width: 18rem; height: 22rem">%>
    <div class="card-product">
      <% if booking.user.photo.attached? %>
        <%= cl_image_tag booking.lesson.user.photo.key, height: 200, width: 200, crop: :fill, class:"img-border" %>
      <% else %>
        <img class="img-border" src="placeholder-profile.jpg" alt="placeholder">
      <% end %>
    <div class="card-product-infos">
    <p>Lesson booked</p>
    <h2>Mentor: <h2><%= booking.lesson.user.name.capitalize %></h2></h2> <%# mentor name  %>
    <p><%= booking.lesson.name %></p> <%# mentor lesson name  %>
    <p><%= booking.lesson.description %></p> <%# mentor lesson description  %>
  </div>
</div>


          <%#student  %>
          <%= booking.user.name %><br>
          <%= booking.date.to_time.strftime('%A, %d %b %Y %l:%M %p') %>

     <%#lesson's name %>
    <% if booking.review != nil %>
      <%= booking.review.title %>
      <%= booking.review.description %>
      <% booking.review.rating.times do %>
      <i class="fas fa-star text-warning"></i>
      <% end %>
    <% elsif current_user == booking.user %> <%# if you are not the user %>
      <%= link_to 'Leave a review', new_booking_review_path(booking)%>
    <% end %>
    <%# if current_user == booking.lesson.user || current_user == booking.user %>
      <%= link_to 'Delete Booking', booking_path(booking), method: :delete,data: { confirm: "Are you sure you want to cancel this booking?" } %>
    <%# end %>
<% end %>

<%= render 'shared/footer' %>

