<h1>Bookings Dashboard</h1>

<p>You have <%= @bookings.count %> bookings</p>

  <% @bookings.each do |booking| %>

    <%= booking.date %>
    <%= booking.user.name %>
    <% if booking.review != nil %>
      <%= booking.lesson.name %><br> <%#lesson's name %>
      <%= booking.review.title %>
      <%= booking.review.description %>
      <%= booking.review.rating %>
    <% elsif current_user != booking.lesson.user %> <%# if you are not the user %>
      <%= link_to 'Leave a review', new_booking_review_path(booking)%>
    <% end %>
    <% if current_user == booking.lesson.user || current_user == booking.user %>
      <%= link_to 'Delete Booking', booking_path(booking), method: :delete %>
    <% end %>

  <%# end %>
<% end %>


