<div class="container-fluid c-fluid">

  <%= render 'shared/navbar_transparent' %>

  <div class="d-flex flex-column justify-content-center ml-5" id="home-mid">

    <div class="text-shadow">
    <h1 class="text-white">MentUp</h1>
    </div>

    <div class="container-quote text-shadow">
      <h1>Learning is a treasure <br> that follows its <b>master</b> everywhere. </h1>
    </div>

    <div>

      <%= form_tag lessons_path, method: :get do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control search",
        placeholder: "Find a lesson" %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
      </div>
      <% end %>

    </div>

    <%= render 'shared/footerhome' %>

  </div>
</div>



