<div class="container-fluid c-fluid" style="height: 100vh;">

  <%= render 'shared/navbar_transparent' %>

  <div class="d-flex flex-column justify-content-center ml-5" id="home-mid">

    <div class="text-shadow">
    <%= image_tag "mentup-logo.png", style:'width: 17rem;'%>

    </div>

    <div class="container-quote text-shadow">
      <h1>Missing a skill? <br> Find the best <strong>Mentor</strong> <br> realize your full <b>potential</b>.</h1>
    </div>

    <div>

      <%= form_tag lessons_path, method: :get do %>
      <div class="search-form-control form-group mt-3">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control search",
        placeholder: "Find a lesson, a skill or a mentor.." %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
      </div>
      <% end %>

    </div>

    <%= render 'shared/footerhome' %>
  </div>
</div>

<div style="height: 50vh;">
  <div class="text-shadow">
    <%= image_tag "mentup-logo.png", style:'width: 17rem;'%>

    </div>

    <div class="container-quote text-shadow">
      <h1>Knowledge is a treasure <br> that follows its <b>master</b> everywhere. </h1>
    </div>


</div>
