<div class="form-header">
<h1 class='text-center'>Find the perfect lesson for your needs</h1>
</div>
<br>
<div class="row d-flex justify-content-center">
  <div class="form-group col-md-12 d-flex justify-content-center">
    <%= form_tag lessons_path, method: :get do %>
      <div class="search-form-control form-group w-100 mt-3">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control search align-self-center mr-5",
        placeholder: "Find a lesson" %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <div class="row">

  <% @lessons.each do |lesson|%>
    <div class="col-md-4">
      <div class="card-rounded my-2 mx-auto drop-shadow" style="width: 18rem; height: 22rem">
        <%# if lesson.photo.attached? %>
          <%# = cl_image_tag lesson.photo.key, height: 300, width: 400, crop: :fill %>
        <%# else %>
          <%# <img src="<%= @images.sample% >" style="height: 200px; object-fit: cover;" class="card-img-top img-card " alt=<%= drink.name % >> %>
        <%# end %>

        <div class="card-body">
            <% if lesson.photo.attached? %>
            <div class="card-picture d-flex flex-column" style="background-image: linear-gradient(to bottom right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url(<%= cl_image_path lesson.photo.key %>); height: 300; width: 400; crop: :fill">
          <% else %>
            <div class="card-picture d-flex flex-column" style="background-image: linear-gradient(to bottom right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url('https://58southmoltonstreet.co.uk/wp-content/uploads/58PhotographyLogo_Guide.png, height: 300, width: 400, crop: :fill'); height: 300; width: 400; crop: :fill">
          <% end %>
          <p class="card-title"><%= lesson.name %><p>
            </div>
          <div class="card-photos">

            <div class="card-profile-photo">
            <% if lesson.user.photo.attached? %>
              <%= cl_image_tag lesson.user.photo.key, height: 300, width: 400, crop: :fill, class:"img-border" %>
              <br>
            <% else %>
              <img class="img-border" src="placeholder-profile.jpg" alt="placeholder">
              <br>
            <% end %>
            </div>

            <div class="card-profile-name">
             <%= lesson.user.name %>
            </div>

          </div>

          <p class="lesson-description px-3" style="font-size: 0.8rem; height: 4rem;"><%= lesson.description %></p>
          <hr>
        </div>

          <div class="card-lesson-bottom">
            <div class="btn-see-lesson mt-5">
              <%= link_to 'More info', lesson_path(lesson), class:'card-btn btn ' %>
            </div>

            <div class="lesson-price">
              <small><%= lesson.price %>€ -</small>
              <small><%= lesson.duration %>h</small>
              <p> <%= %> </p>
            </div>
          </div>

      </div>
    </div>
  <%end%>

  </div>
</div>



<%= render 'shared/footer' %>
