<div class="container-main mt-5">
  <div class="d-flex justify-content-around row">

    <div class="container-soraya border p-3 col-3 text-center ml-4">

      <div class="border-bottom mt-4 mb-4">
        <% if @user.photo.attached? %>
        <%= image_tag @user.photo, class: "avatar" %>
        <% else %>
          <%= image_tag "student.jpg", class: "avatar" %>
        <% end %>
        <h3><%= @user.name %></h3>
      </div>

      <div>
        <div class="border w-90 mx-auto mb-4">
          <p> <em> <%= @user.bio %> </em></p> <br> <br>
        </div>
      </div>
    </div>

    <div class="container-center col-4 text-center d-flex flex-column">

      <div class="container-soraya border rounded-sm flex-grow-1 mh-25">
        <p>Lesson</p>
        <p><%= @lesson.price %></p>
      </div>

      <div class="border-bottom flex-grow-2" style="height: 30px; margin-bottom: 30px">
      </div>

      <div class="container-soraya border rounded-sm flex-grow-1">
        <% if @reviews.nil? %>
            <h5>Missing link to go on new review</h5>
          <% else %>
            <% @reviews.each do |review| %>
              <h3><%= review.title %></h3>
              <p><%= review.rating %></p>
              <p><%= review.description %></p>
            <% end %>
        <% end %>
      </div>

    </div>


    <div class="container-soraya border rounded p-3 col-3 text-center mr-4">

      <div class="container-booker">
        <p> These are the dates and times in which this Mentor was already booked: </p>
        <% @bookings.each do |booking| %>
          <%= booking.date %>
          <%= 'for ' + booking.lesson.duration.to_s + ' hours'%>
        <% end %>
      </div>
    <button type="button" class ="btn btn-success btn-lg">Book a lesson</button>
    </div>

  </div>
</div>
<%= render 'shared/footer' %>
